<!DOCTYPE html>

<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="Style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <link rel="shortcut icon" type="image x-icon" href="VueLogo.png">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <title>Vue.js - Tech</title>
    </head>

    <body>
        <div id="work">
            <div class="block">
                <h1>Добро пожаловать на специальную страницу для тестирования технологии Vue.JS!</h1>
                <h2>На данной странице Вы сможете протестировать некоторые фишки фреймворка Vue.JS. Не смотря на изменеия, которые будут происходить на странице, она ниразу не перезапустится!</h2><h2 style="color: rgb(212, 14, 14)">Scroll Down <i class="fas fa-angle-double-down"></i></h2>
            </div>
            <div class="block">
                <h2>{{title}}</h2>
                <div class="row">
                    <h3 class="btn" v-on:click="title='Не надо было нажимать, теперь уже поздно!'">Нажми на меня</h3>
                    <h3 class="btn" v-on:click="title='Как было уже не получится...'">Вернуть как было!</h3>
                    <h3 class="btn" v-on:click="title='Тебе надо ты и выводи... Нашёл тут раба :('">Выведи что-нибудь интересное</h3>
                    <h3 class="btn" v-on:click="title='Сам ты тупой!'">Тупая кнопка</h3>
                </div>
            </div>
            <div class="block">
                <h2>Введите слово 'Color' в поле ниже (При вводе секретного имени будет бонус):</h2>
                <input placeholder="Слово или Имя" type="text" v-on:input="val = $event.target.value">
                <div class="row">
                    <h2 v-bind:class="val">[Вы написали - {{val}}]&nbsp;</h2>
                    <h2 v-if="val == 'Степан'">Ха-ха-ха, Стёпа, ну ты и Пидор догадливый!</h2>
                    <h2 v-if="val == 'Color'" v-bind:class="val">Ура, вы окрасили данную строку в красный цвет!</h2>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="grid">
                        <input @keyup.enter="calc()" type="text" v-model="result" placeholder="0">
                        <button @click="input(num)" class="cell num" v-for="num in numbers">{{num}}</button>
                        <button @click="reset()" class="cell opp res">R</button>
                        <button @click="calc()" class="cell op cal">=</button>
                    </div>
                    <div>
                        <h2>А здесь находится *полноценный Калькулятор, который полностью написан при помощи Vue.JS</h2>
                        <h4>Для его реализации задействовано паразительно минимальное колличество кода. Но это не мешает ему отлично выполнять свои функции.</h4>
                        <h4>Здесь всё работает как и в обычном калькуляторе:</h4>
                        <ul>
                            <li>Используйте специальное поле или созданные клавиши для ввода значений.</li>
                            <li>R - [Reset] Полностью очищает поле.</li>
                            <li>Используйте ' . ' или готовый пресет ' .0 ' для ввода десятичных значений</li>
                        </ul>
                        <h5>* Ну ладно, почти полноценный...</h5>
                    </div>
                </div>
            </div>
            <div class="block">
                <h2>На данный момент это все функции, реализованные при помощи фреймворка Vue.JS, которые доступны на этой странице</h2>
                <h4>Вероятнее всего, в будущем, данная страница будет пополняться новыми функциями.</h4>
                <h3> &copy; Made By: ApocalypseCore</h3>
            </div>
        </div>
        
        <script src="Main.js"></script>
    </body>

</html>
